/*  -------------
	--- Fonts ---
	------------- 	*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,300,700,800&subset=cyrillic-ext,latin");

/*  -----------------
	--- Bootstrap ---
	----------------- 	*/

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

/*  -----------------
	--- Variables ---
	----------------- 	*/

// Colors
$bg:			#f7f7f7;
$red-color: 	#eb5e4c;
$light-blue: 	#b3dee1;
$dark-blue:		#3e8090;
$link-color: 	#468cc8;
$blue-border:   #a6d0d3;
$title-color:	#333;
$placeholder-color: #ccc;
$input-border: 	#eee;

// Fonts
$open-sans: "Open Sans", sans-serif;

/*  --------------
	--- Common ---
	-------------- 	*/
body {
	font-family: $open-sans;
	font-size: 15px;
	background: $bg;
}
a {
	color: $link-color;
}
.btn-red {
	background: $red-color;
}
.form-control {
	border-color: $input-border;
	@include placeholder($placeholder-color);
}

/*  ---------------
	--- Spinner ---
	---------------	*/
.spinner {
	position: relative;
	width: 16px;
	height: 20px;
}
.blockG {
	position: absolute;
	background-color: #fff;
	width: 3px;
	height: 6px;
	border-radius: 3px 3px 0 0;
	@include scale(0.4);
	@include animation-name(fadeG);
	@include animation-duration(1.04s);
	@include animation-iteration-count(infinite);
	@include animation-direction(linear);
}
.rotateG_01 {
	left: 0;
	top: 7px;
	@include animation-delay(0.39s);
	@include rotate(-90deg);
}
.rotateG_02 {
	left: 2px;
	top: 3px;
	@include animation-delay(0.52s);
	@include rotate(-45deg);
}
.rotateG_03 {
	left: 7px;
	top: 1px;
	@include animation-delay(0.65s);
	@include rotate(0deg);
}
.rotateG_04 {
	right: 2px;
	top: 3px;
	@include animation-delay(0.78s);
	@include rotate(45deg);
}
.rotateG_05 {
	right: 0;
	top: 7px;
	@include animation-delay(0.91s);
	@include rotate(90deg);
}
.rotateG_06 {
	right: 2px;
	bottom: 2px;
	@include animation-delay(0.91s);
	@include rotate(135deg);
}
.rotateG_07 {
	bottom: 0;
	left: 7px;
	@include animation-delay(1.17s);
	@include rotate(180deg);
}
.rotateG_08 {
	left: 2px;
	bottom: 2px;
	@include animation-delay(1.3s);
	@include rotate(-135deg);
}
@-webkit-keyframes fadeG {
	0% {
		background-color: #000
	}
	100% {
		background-color: #fff
	}
}
@keyframes fadeG {
	0% {
		background-color: #000
	}
	100% {
		background-color: #fff
	}
}

/*  --------------
	--- Header ---
	-------------- 	*/
header {
	margin-bottom: -5px;
	position: relative;
	z-index: 2;
	.header-container {
		background: #fff;
		margin-bottom: 5px;
	}
	.container {
		.row {
			.logo {
				a {
					display: block;
					width: 167px;
					height: 111px;
					@include img-retina("../img/logo.png", "../img/logo@2x.png", 167, 60);
					background-position: 0 50%;
					background-repeat: no-repeat;
					position: relative;
					text-indent: -9999px;
					border-bottom: 5px solid $red-color;
					margin-bottom: -5px;
				}
			}
			nav {
				font-size: 15px;
				line-height: 106px;
				a {
					float: left;
					margin: 0 0 -5px 49px;
					border-bottom: 5px solid transparent;
					&:first-child {
						margin-left: 0;
					}
					&.active {
						border-bottom-color: $red-color;
					}
					&:hover {
						border-bottom-color: $red-color;
						text-decoration: none;
						color: $link-color;
					}
				}
			}
			.userbar {
				position: relative;
				height: 106px;
				display: table;
				padding: 0 0 0 48px;
				.notification {
					position: absolute;
					width: 27px;
					height: 29px;
					left: -14px;
					top: 50%;
					margin-top: -15px;
					@include img-retina("../img/notification-bell.png", "../img/notification-bell@2x.png", 27, 29);
					&:hover {
						background-position: -27px 0;
						text-decoration: none;
					}
					.number-of-unread {
						display: none;
						position: absolute;
						top: -4px;
						left: 16px;
						min-width: 20px;
						text-align: center;
						line-height: 20px;
						background: $light-blue;
						color: $dark-blue;
						border-radius: 10px;
						font-size: 12px;
						padding: 0 6px;
					}
					&.not-read {
						background-position: -54px 0;
						.number-of-unread {
							display: block;
						}
					}
				}
				.mini-user {
					display: table-cell;
					vertical-align: middle;
					padding: 0 0 0 48px;
					position: relative;
					margin: 0 0 0 48px;
					.mi-image {
						position: absolute;
						top: 50%;
						left: 0;
						margin: -19px 0 0;
						width: 38px;
						height: 38px;
						border-radius: 100%;
						overflow: hidden;
						border: 1px solid #fff;
						@include box-shadow(0 4px 2px #ddd);
					}
					.mi-name {
						font-weight: 600;
						display: block;
						font-size: 15px;
					}
					.mi-city {
						display: block;
						padding: 0 0 0 15px;
						@include img-retina("../img/location-icon.png", "../img/location-icon@2x.png", 10, 13);
						background-position: 0 50%;
						background-repeat: no-repeat;
						font-size: 12px;
						color: #ccc;
					}
					&:hover {
						text-decoration: none;
						.mi-city {
							color: #ccc;
						}
					}
				}
			}
		}
	}
}

/*  -----------
	--- Map ---
	----------- 	*/
.map-container {
	border-top: 1px solid $blue-border;
	margin-bottom: 52px;
	position: relative;
	height: 435px;
	padding: 371px 0 0;
	#map {
		height: 435px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-top: 4px solid $light-blue;
	}
	.container {
		padding: 36px 0 34px;
		border-bottom: 2px solid #ddd;
		background: #fff;
		border-radius: 3px;
		position: relative;
		@include box-shadow(0 -1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px #fff);
		&.locator-bg {
			@include img-retina("../img/locator-bg.png", "../img/locator-bg@2x.png", 368, 273);
			background-position: 0 100%;
			background-repeat: no-repeat;
		}
		.row {
			&.locator-closed {
				line-height: 45px;
			}
			.locator-title {
				color: $title-color;
				font-size: 30px;
				> span {
					display: block;
					@include img-retina("../img/locator-icon.png", "../img/locator-icon@2x.png", 29, 29);
					padding-left: 39px;
					margin-left: -30px;
					background-position: 0 50%;
					background-repeat: no-repeat;
				}
				form {
					margin-left: -28px;
				}
			}
			.search-form-container {
				form {
					margin-right: -30px;
				}
			}
			.form-control {
				@include box-shadow(none);
				font-size: 15px;
			}
			.btn-red {
				width: 52px;
				@include img-retina("../img/magnifier-icon.png", "../img/magnifier-icon@2x.png", 26, 26);
				background-position: 50% 50%;
				background-repeat: no-repeat;
				margin-left: 0;
				&:hover {
					@include box-shadow(inset 0 -1px 0 1px rgba(0,0,0,0.125));
				}
			}
			&.locator-opened {
				display: none;
				.locator-title {
					> span {
						margin-bottom: 14px;
					}
					.spinner {
						float: left;
						left: -24px;
					}
					.found-links {
						float: left;
						font-size: 12px;
						line-height: 20px;
						a {
							&:before {
								display: inline-block;
								width: 13px;
								content: "·";
								text-align: center;
							}
							&:first-child {
								&:before {
									display: none;
								}
							}
						}
					}
				}
				.locator-data {
					.ld-container {
						margin-right: -30px;
					}
					.search-tabs {
						list-style: none;
						padding: 0;
						margin: 0 0 -5px;
						li {
							float: left;
							line-height: 45px;
							padding-bottom: 17px;
							font-size: 16px;
							margin-left: 64px;
							a {
								&:hover {
									text-decoration: none;
								}
								img {
									margin: 0 12px;
									display: none;
								}
							}
							&:first-child {
								margin-left: 0;
							}
							&.active {
								border-bottom: 5px solid $red-color;
								a {
									color: $title-color;
									font-weight: 600;
									img {
										display: inline;
									}
								}
							}
						}
					}
					.st-container {
						border-top: 1px solid $blue-border;
					}
					.tab-content {
						border-top: 4px solid $light-blue;
						.tab-pane {
							margin: 22px 0 0;
							ul {
								list-style: none;
								padding: 0;
								margin: 0;
								li {
									margin-bottom: 18px;
									font-size: 12px;
									a {
										display: block;
										font-size: 15px;
									}
								}
							}
							.all-items {
								a {
									float: right;
								}
							}
						}
					}
				}
			}
		}
	}
}